################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/ProjetSFML5/ProjetSFML5.VC.VC.opendb
